#toggle-btn{
    padding: 5px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.menu-icon{
    width: 30px;
}
img.deco{
    width: 250px;
}
img.deco-input{
    height: 80px;
    margin-top: 25px;
    margin-right: 5px;
}
.depart-dest-style{
    display: flex;
}