<template id="menu">
    <link rel="stylesheet" href="./components/menu/menu.css">
    <div class="container">
        <div id="toggle-btn">
            <img src="./images/menuIcon.png" alt="Menu Icon" class="menu-icon">
        </div>
        <div class="side-menu">
            <div class="depart-dest-style">
                <img class="deco-input" src="./images/origin-dest.png" alt="Decoration">
                <div class="input-container">
                    <my-input placeholder="Départ"></my-input>
                    <my-input placeholder="Arrivé"></my-input>
                </div>
            </div>
            <p id="go">Start</p>
            <div id="steps-container"></div>
        </div>
    </div>
</template>
