@font-face {
    font-family: Gliker-Regular;
    src: url(./font/Gliker-Regular.ttf);
}
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: grid;
    grid-template: 90px 1fr / auto;
    flex-direction: column;
}
header{
    background-color: #2f4156;
    width: 100%;
    height: 90px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

header>h1{
    color: #f3eeea;
    font-family: Gliker-Regular;
    font-size: 3em;
    font-weight: 200;

}
img.banner{
        width: 100px;
}


#overlay {
    display: flex;
    flex-grow: 1;
}

#map {
    width: 100%;
}
#map > img{
    width: 100%;
    height: 100%;
}

.container {
    width: 400px;
    padding: 5px;
    background-color: #597c8e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right:  #2f4156 solid 3px;
}
div.origin-dest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
img.origin-dest{
    width: 70px;
}

#debug {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 100px;
    background: #cccccc;
    z-index: 1000;
}

.itinerary-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcc00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container{
    display: flex;
}
.input-container > img {
    margin-top: 25px;
}
.deco{
    position: absolute;
    width: 303px;
    top: 325px;
    z-index: 0;
}
.modal {
    display: none; /* Par défaut, caché */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary {
    background-color: #2f4156;
    color: white;
}

.btn-secondary {
    background-color: #597c8e;
    color: white;
}

.btn-cancel {
    background-color: #bebdbb;
    color: #212529;
}
#coordinates{
    margin-top: 15px;
}
#trajet-temps{
    background-color: #597c8e;
    position: absolute;
    z-index: 900;
    padding: 10px;
    border-radius: 8px;
    color: white;
    height: 20px;
    width: 150px;
    top: 100px;
    right: 10px;
    border: #2f4156 solid 2px;
    font-weight: bold;
    display: none;
}