body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 10vh;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header > h2{
    font-family: "Edwardian Script ITC";
    font-size: 3em;
    margin: 0;
}

#overlay {
    display: flex;
    height: 90vh;
}

#map > img{
    width: 100%;
    height: 100%;
}

.container {
    width: 250px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.map-section {
    height: 400px;
    background-color: #eaeaea;
    margin-bottom: 20px;
    border-radius: 10px;
}

#map_overlay{
    position: relative;
    display: inline;
    top: 40vh;
    left: 0;
    background-color: red;
    z-index: 1000;
}

.itinerary-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcc00;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container{
    display: flex;
}
.input-container > img {
    margin-top: 25px;
}
